Backend/CPAS.Common/bin/Debug/netcoreapp3.1/CPAS.Common.deps.json
Backend/CPAS.Common/bin/Debug/netcoreapp3.1/CPAS.Common.dll
Backend/CPAS.Common/bin/Debug/netcoreapp3.1/CPAS.Common.pdb
Backend/CPAS.Common/obj/CPAS.Common.csproj.nuget.dgspec.json
Backend/CPAS.Common/obj/CPAS.Common.csproj.nuget.g.props
Backend/CPAS.Common/obj/CPAS.Common.csproj.nuget.g.targets
Backend/CPAS.Common/obj/project.assets.json
Backend/CPAS.Common/obj/project.nuget.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.AssemblyInfo.cs
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.AssemblyInfoInputs.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.assets.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.csproj.CoreCompileInputs.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.csproj.FileListAbsolute.txt
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.csprojAssemblyReference.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.dll
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.pdb
Backend/CPAS.Core/bin/Debug/netcoreapp3.1/CPAS.Core.deps.json
Backend/CPAS.Core/bin/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS.Core/bin/Debug/netcoreapp3.1/CPAS.Core.pdb
Backend/CPAS.Core/obj/CPAS.Core.csproj.nuget.dgspec.json
Backend/CPAS.Core/obj/CPAS.Core.csproj.nuget.g.props
Backend/CPAS.Core/obj/CPAS.Core.csproj.nuget.g.targets
Backend/CPAS.Core/obj/project.assets.json
Backend/CPAS.Core/obj/project.nuget.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.AssemblyInfo.cs
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.AssemblyInfoInputs.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.assets.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.csproj.CoreCompileInputs.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.csproj.FileListAbsolute.txt
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.csprojAssemblyReference.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.pdb
