Backend/CPAS.Common/bin/Debug/netcoreapp3.1/CPAS.Common.deps.json
Backend/CPAS.Common/bin/Debug/netcoreapp3.1/CPAS.Common.dll
Backend/CPAS.Common/bin/Debug/netcoreapp3.1/CPAS.Common.pdb
Backend/CPAS.Common/obj/CPAS.Common.csproj.nuget.dgspec.json
Backend/CPAS.Common/obj/CPAS.Common.csproj.nuget.g.props
Backend/CPAS.Common/obj/CPAS.Common.csproj.nuget.g.targets
Backend/CPAS.Common/obj/project.assets.json
Backend/CPAS.Common/obj/project.nuget.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.AssemblyInfo.cs
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.AssemblyInfoInputs.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.assets.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.csproj.CoreCompileInputs.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.csproj.FileListAbsolute.txt
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.csprojAssemblyReference.cache
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.dll
Backend/CPAS.Common/obj/Debug/netcoreapp3.1/CPAS.Common.pdb
Backend/CPAS.Core/bin/Debug/netcoreapp3.1/CPAS.Core.deps.json
Backend/CPAS.Core/bin/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS.Core/bin/Debug/netcoreapp3.1/CPAS.Core.pdb
Backend/CPAS.Core/obj/CPAS.Core.csproj.nuget.dgspec.json
Backend/CPAS.Core/obj/CPAS.Core.csproj.nuget.g.props
Backend/CPAS.Core/obj/CPAS.Core.csproj.nuget.g.targets
Backend/CPAS.Core/obj/project.assets.json
Backend/CPAS.Core/obj/project.nuget.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.AssemblyInfo.cs
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.AssemblyInfoInputs.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.assets.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.csproj.CoreCompileInputs.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.csproj.FileListAbsolute.txt
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.csprojAssemblyReference.cache
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS.Core/obj/Debug/netcoreapp3.1/CPAS.Core.pdb
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Core.pdb
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Data.deps.json
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Data.dll
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Data.pdb
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Data.runtimeconfig.dev.json
Backend/CPAS.Data/bin/Debug/netcoreapp3.1/CPAS.Data.runtimeconfig.json
Backend/CPAS.Data/obj/CPAS.Data.csproj.nuget.dgspec.json
Backend/CPAS.Data/obj/CPAS.Data.csproj.nuget.g.props
Backend/CPAS.Data/obj/CPAS.Data.csproj.nuget.g.targets
Backend/CPAS.Data/obj/project.assets.json
Backend/CPAS.Data/obj/project.nuget.cache
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.AssemblyInfo.cs
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.AssemblyInfoInputs.cache
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.assets.cache
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.csproj.CopyComplete
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.csproj.CoreCompileInputs.cache
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.csproj.FileListAbsolute.txt
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.csprojAssemblyReference.cache
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.dll
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.genruntimeconfig.cache
Backend/CPAS.Data/obj/Debug/netcoreapp3.1/CPAS.Data.pdb
Backend/CPAS.Service/obj/CPAS.Service.csproj.nuget.dgspec.json
Backend/CPAS.Service/obj/CPAS.Service.csproj.nuget.g.props
Backend/CPAS.Service/obj/CPAS.Service.csproj.nuget.g.targets
Backend/CPAS.Service/obj/project.assets.json
Backend/CPAS.Service/obj/project.nuget.cache
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.AssemblyInfo.cs
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.AssemblyInfoInputs.cache
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.assets.cache
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.csproj.CopyComplete
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.csproj.CoreCompileInputs.cache
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.csproj.FileListAbsolute.txt
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.csprojAssemblyReference.cache
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.dll
Backend/CPAS.Service/obj/Debug/netcoreapp3.1/CPAS.Service.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/appsettings.Development.json
Backend/CPAS/bin/Debug/netcoreapp3.1/appsettings.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.API.deps.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.API.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.API.exe
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.API.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.API.runtimeconfig.dev.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.API.runtimeconfig.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Common.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Common.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Core.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Data.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Data.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.deps.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.exe
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.runtimeconfig.dev.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.runtimeconfig.json
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Service.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/CPAS.Service.pdb
Backend/CPAS/bin/Debug/netcoreapp3.1/Humanizer.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/MySqlConnector.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/NLog.config
Backend/CPAS/bin/Debug/netcoreapp3.1/NLog.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/NLog.Extensions.Logging.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/NLog.Web.AspNetCore.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Backend/CPAS/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
Backend/CPAS/obj/CPAS.API.csproj.nuget.dgspec.json
Backend/CPAS/obj/CPAS.API.csproj.nuget.g.props
Backend/CPAS/obj/CPAS.API.csproj.nuget.g.targets
Backend/CPAS/obj/CPAS.csproj.nuget.dgspec.json
Backend/CPAS/obj/CPAS.csproj.nuget.g.props
Backend/CPAS/obj/CPAS.csproj.nuget.g.targets
Backend/CPAS/obj/project.assets.json
Backend/CPAS/obj/project.nuget.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Backend/CPAS/obj/Debug/netcoreapp3.1/apphost.exe
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.AssemblyInfo.cs
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.AssemblyInfoInputs.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.assets.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.csproj.CopyComplete
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.csproj.CoreCompileInputs.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.csproj.FileListAbsolute.txt
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.csprojAssemblyReference.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.dll
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.genruntimeconfig.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.MvcApplicationPartsAssemblyInfo.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.MvcApplicationPartsAssemblyInfo.cs
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.pdb
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.API.RazorTargetAssemblyInfo.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.AssemblyInfo.cs
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.AssemblyInfoInputs.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.assets.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.csproj.CoreCompileInputs.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.csproj.FileListAbsolute.txt
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.csprojAssemblyReference.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.dll
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.genruntimeconfig.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.MvcApplicationPartsAssemblyInfo.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.pdb
Backend/CPAS/obj/Debug/netcoreapp3.1/CPAS.RazorTargetAssemblyInfo.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/staticwebassets/CPAS.API.StaticWebAssets.Manifest.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/staticwebassets/CPAS.API.StaticWebAssets.xml
Backend/CPAS/obj/Debug/netcoreapp3.1/staticwebassets/CPAS.StaticWebAssets.Manifest.cache
Backend/CPAS/obj/Debug/netcoreapp3.1/staticwebassets/CPAS.StaticWebAssets.xml
Backend/CPAS/.vs/CPAS/config/applicationhost.config
Backend/CPAS/.vs/CPAS/DesignTimeBuild/.dtbcache.v2
Backend/CPAS/.vs/CPAS/v16/.suo
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Common.dll
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Common.pdb
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Core.dll
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Core.pdb
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Data.dll
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Data.pdb
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Service.deps.json
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Service.dll
Backend/CPAS.Service/bin/Debug/netcoreapp3.1/CPAS.Service.pdb
